{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>支付结果</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body style="background: #f0f0f0;">
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
{#                <button type="submit" class="login-btn">完成支付</button>#}
  	            <a href="" class="">完成支付</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="order-detail">
	       <li><span>订单编号：</span>{{order_sn}}</li>
	       <li><span>订单总价：</span>￥{{total_amount}}</li>
	    </ul>
        <a href="{% url 'users:个人中心' %}" class="am-btn">{{ result }}</a>
{#        <button type="submit" class="login-btn">{{result}}</button>#}
{#	    <input type="button" class="login-btn" value="{{result}}">#}
	    <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/amazeui.min.js' %}"></script>
	</body>
</html>
