
{% extends 'common/parent.html' %}
{% load static %}

{% block content %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">购物车</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
    <form action="{% url 'shopping_car:结算' %}" method="get">
        {% if goodsList %}


            <ul class="shopcart-list">
                {% for goods in goodsList %}
                    <li>
                        <label class="am-checkbox am-warning">
                            <input type="checkbox" name="sku_ids" checked="checked" value="{{ goods.pk }}"
                                   data-am-ucheck checked>
                        </label>
                        <a href="{% url 'commodity:商品详情' goods.pk %}"><img src="{{ MEDIA_URL }}{{ goods.logo }}"
                                                                           class="shop-pic"/></a>
                        <div class="shop-list-mid">
                            <div class="tit"><a href="{% url 'commodity:商品详情' goods.pk %}">
                                {{ goods.goods_spu.name }}{{ goods.goods_spu }}</a></div>
                            <b class="shop-list-price">￥<i>{{ goods.price }}</i></b>
                        </div>
                        <div class="list-cart1">
                            <div class="d-stock">
                                <a class="decrease">-</a>
                                <input id="{{ goods.pk }}" readonly="" class="text_box  sku_count" name="" type="text"
                                       value="{{ goods.count }}">
                                <a class="increase">+</a>
                            </div>
                        </div>

                    </li>
                {% endfor %}
                <div style="height: 10px; background: #eee;"></div>
            </ul>
        {% endif %}

        <!--购物车空的状态-->
        <div class="login-logo cart_logo" style="{% if goodsList|length != 0 %}display:none{% endif %}">
            <img src="{% static 'images/care.png' %}">
            <p>亲、您的购物车还是空空的哦，快去装满它!</p>
            <a href="{% url 'index' %}" class="goshopping">前去逛逛</a>
        </div>


        <div class="shop-fix">

            <label class="am-checkbox am-warning">
                <input id="check_all" type="checkbox" checked="checked" value="" checked="checked" data-am-ucheck
                       checked>
            </label>
            <a class="del">全选</a>
            {#            <a href="{% url 'shopping_car:结算' %}" class="js-btn">去结算</a>#}
            <input type="button" class="js-btn" value="去结算">
            <div class="js-text">
                <P>合计：<b>￥<i id="total_price">0.00</i></b></P>
                <p class="js-car">免费配送</p>
            </div>
        </div>
    </form>
<!--底部-->
 <div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-5">
          <li>
            <a href="{% url 'index' %}" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="{% url 'users:我的动态' %}" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
          </li>
          <li>
            <a href="{% url 'shopping_car:空购物车' %}" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="{% url 'indent:订单' %}" class="">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
          </li>

          <li>
            <a href="{% url 'users:个人中心' %}" class="curr">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
      </ul>
</div>



<script>
	//购物数量加减
    $(function () {
        $('.increase').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());

            // 完成ajax请求
            //sku_id在input上添加一个自定义属性 sku_id=1
            //找到input获取自定义的属性值
            var sku_id = self.siblings('input').attr('id');
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'count': 1,
                'sku_id': sku_id
            };
            $.ajax({
                type: "post",
                url: "{% url 'shopping_car:添加购物车' %}",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        //添加成功
                        current_num += 1;
                        if (current_num > 0) {
                            self.siblings(".decrease").fadeIn();
                            self.siblings(".text_box").fadeIn();
                        }
                        self.siblings("input").val(current_num);
                        totalPrice()
                    } else if (data.code == 1) {
                        //未登录,跳转到登录页面
                        if (confirm("没有登录,是否立即登录?")) {
                            location.href = "{% url 'users:登录' %}"
                        }
                    } else {
                        alert(data.errmsg);
                    }
                }
            });
        });
        $('.decrease').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            //完成ajax请求
            //准备数据
            //sku_id 在input上添加一个自定义属性
            //找到input获取自定义的属性值
            var sku_id = self.siblings('input').attr('id');
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'count': -1,
                'sku_id': sku_id
            };
            $.ajax({
                type: "post",
                url: "{% url 'shopping_car:添加购物车' %}",
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        //添加成功
                        if (current_num > 1) {
                            current_num -= 1;
                            self.siblings('input').val(current_num);
                        }else {
                            //删除当前li
                            self.closest('li').remove();
                            //判断是否有li
                            if ($(".shopcart-list").find('li').length == 0){
                                $(".cart_logo").show();
                            }
                        }
                        totalPrice()
                    } else if (data.code == 1) {
                        //未登录,跳转到登陆界面
                        if (confirm("没有登录,是否立即登录?")) {
                            location.href = " {% url 'users:登录' %}"
                        }
                    } else {
                        alert(data.errmsg);
                    }
                }
            });
        });

        //计算总价格
        function totalPrice() {
            //1.获取所有被选中的复选框
            var checkboxes = $('.shopcart-list').find(":checked");
            //2.获取对应的li
            var total_price = 0;
            $.each(checkboxes,function (i,e) {
                //i 索引  e 复选框
                var li = $(e).closest('li');
                //获取价格
                var price = $(li).find('.shop-list-price i').text();
                {#console.debug(price)#}
                //获取数量
                var count = $(li).find('.sku_count').val();
                total_price += price * count;
            });
            //计算总价格
            $("#total_price").text(total_price.toFixed(2))
            {#console.debug(total_price)#}
        }
        //调用
        totalPrice();

        //处理全选复选框
        $("#check_all").change(function () {
            //获取当前复选框是否被选中
            {#console.debug($(this).prop('checked'));#}
            var status =  $(this).prop('checked');
            //其他li复选框与当前一致
            $(".shopcart-list").find(":checkbox").prop('checked',status);
            totalPrice();
        });

        //在所有的li中的复选框绑定change事件
        $(".shopcart-list").find(":checkbox").on("change",function () {
            //重新计算价格
            totalPrice();
            //p判断选中的复选框和所有的复选框 长度一致 就是全选
            if ($(".shopcart-list").find(":checkbox").length == $(".shopcart-list").find(":checked").length){
                $("#check_all").prop("checked",true);
            }else {
                $("#check_all").prop("checked",false);
            }
        });
        //点击结算按钮,判断必须勾选商品
        $(".js-btn").on("click",function () {
            if ($(".shopcart-list").find(":checked").length == 0){
                alert("请选择需要结算的商品!");
            } else {
                //通过js提交表单
                $('form').submit()
            }
        })

    });
</script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}
