{% load static %}
{% load highlight %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
		<script src="{% static 'js/time.js' %}"></script>
        <style>
            .list-price {
            background: url({% if order == 2 %}{% static 'images/order-bot.png' %}{% elif order == 3 %}{% static 'images/order-top.png' %}{% else %}{% static 'images/order.png' %}{% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }
            .heightline{
                color:red;
            }
        </style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
            <form action="{% url 'search:haystack_search' %}" method="get">
                <div class="cate-search">
                    <input type="text" name="q" value="{{ query }}" class="cate-input"
                           placeholder="{{ query|default:'请输入您要的搜索的产品关键词' }}"/>
                    <input type="submit" value="" class="cate-btn"/>
                </div>
            </form>
	    </header>
	    <div style="height: 49px;"></div>

        <div class="content-list">
	    	<div>
	    		<ul class="list-pro">
                    {% for search in page %}
                        <li>
                            <a href="{% url 'commodity:商品详情' search.object.id %}"><img src="{{ MEDIA_URL }}{{search.object.logo}}" class="list-pic"/></a>
                            <div class="shop-list-mid" style="width: 65%;">
                                <div class="tit">
                                    <a href="{% url 'commodity:商品详情' search.object.id %}">{% highlight search.object.goods_spu.name with query html_tag "i" css_class "heightline" %}{% highlight search.object.goods_name with query html_tag "i" css_class "heightline" %}
                                </a>
                                </div>
                                <div class="am-gallery-desc">￥{{search.object.price}}</div>
                                <p>销量：{{search.object.sellNum}}件</p>
                            </div>
                        </li>
                    {% empty %}
                        <li>
                            <a href="#">搜索商品走丢了</a>
                        </li>
                    {% endfor %}
	    </ul>
	    	</div>
	    </div>

 
 
 
 
 
 

	</body>
</html>
